<p>Because <%- inviterEmail %> was so nice to invite you to <%- appName %>, we want to give you a reward:</p>

<p><% for(var r in rewards) { %><%= rewards[r].message %><br />
<% } %></p>

<p>Good luck with your new <%- appName %> account!</p>